@import  '../../public/css/normalize'
@import  '../../public/css/main'
@import parts/base
@import parts/colors
@import parts/keyframes
@import parts/layout
@import parts/mixins
@import parts/typography
body
  font-family: georgia, sans-serif
  color: #444
  background-color: #900
.big
  font-size: 1.3em
h1, h2, h3, h4, h5, h6
  font-family: arial, sans-serif
  font-weight: normal