<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta content="" name="description">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="" property="og:title">
    <meta content="" property="og:url">
    <meta content="" property="og:image">
    <link href="/favicon.ico" rel="shortcut icon">
    <link href="css/global.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <figure id="logo">Logo</figure>
    </header>
    <nav>
      <ul>
        <li>
          <a>Link 1</a>
        </li>
        <li>
          <a>Link 2</a>
        </li>
        <li>
          <a>Link 3</a>
        </li>
        <li>
          <a>Link 4</a>
        </li>
        <li>
          <a>Link 5</a>
        </li>
        <li>
          <a>Link 6</a>
        </li>
      </ul>
    </nav>
    <section id="main">



        {{ content }}


    </section>
  </body>
  <footer>
    <p>Footer info goes here</p>
  </footer>
  <script src="js/main.js"></script>

</html>